# Ambientes virtuais
.venv/
.env/

# Dados e Resultados
*.csv
*.zip
*.h5
*.npz

# Exceções: Permitir os dados do MNIST subirem (sobrepõe a regra do *.npz acima)
!dataset/MNIST/train/*.npz
!dataset/MNIST/test/*.npz

# Mantemos o train_mal ignorado caso seja lixo de teste de envenenamento
dataset/MNIST/train_mal/ 

# Cache do Python
__pycache__/
*.pyc

# Ignorar os datasets gerados pelo LEAF
dataset/utils/LEAF/data/

# Ignorar dados do Cifar10 (MUITO PESADOS PARA O GITHUB)
dataset/Cifar10/rawdata/
dataset/Cifar10/test/
dataset/Cifar10/train/